
/*******************************/
/********* General CSS *********/
/*******************************/
:root {
    --primary: #EFFDF5;
    --secondary: #FF6922;
    --light: #EFFDF5;
    --dark: #0E2E50;
}
body {
    color: #243048;
    background-color: #F5F5F5;
    font-family: Aeonik,Helvetica,sans-serif;
}


h1,
h2, 
h3, 
h4,
h5 
{
    color: #243048;
    font-family: Aeonik,Helvetica,sans-serif;
}

h6
{
    color: white;
    font-size: 1.5em;
}
a {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #243048;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #243048;
    outline: none;
    text-decoration: none;
}

.btn.custom-btn {
    padding: 12px 25px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #243048;
    border: 2px solid #243048;
    border-radius: 5px;
    transition: .5s;
}

.btn.custom-btn:hover {
    color: #ffffff;
    background: transparent;
}

.btn.custom-btn:focus,
.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}

/*.container-fluid {
    max-width: 1366px;
}*/

.back-to-top {
    position: fixed;
    display: none;
    background: #243048;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    border-radius: 5px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
    padding-top: 10px;
}

.back-to-top:hover {
    background: #243048;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-size: inherit;
    margin-left: 0;
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    transition: .5s;
    
}

.navbar .navbar-brand span {
    color: #243048;
}

.navbar .navbar-brand:hover {
    color: #ffffff;
}

.navbar .navbar-brand:hover span {
    color: #ffffff;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 992px) {
    .myColumn1 {
        padding: 40px;
        flex: 50%;
      }
    .myColumn2 {
        padding: 40px;
        flex: 50%;
      }

    .navbar {
        position: absolute;
        width: 100%;
        padding: 30px 60px;
        background: transparent !important;
        z-index: 9;
    }
    
    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #ffffff !important;
    }
    
    .navbar .navbar-brand {
        color: #ffffff;
        /* font-family: Aeonik,Helvetica,sans-serif; */
    }
    
    .navbar.nav-sticky .navbar-brand {
        color: #243048;
        /* font-family: Aeonik,Helvetica,sans-serif; */
    }

    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link:focus {
        padding: 10px 10px 8px 10px;
        font-family: 'Nunito', sans-serif;
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link,
    .navbar-light.nav-sticky .navbar-nav .nav-link:focus {
        color: #666666;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: #ffffff;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link:hover,
    .navbar-light.nav-sticky .navbar-nav .nav-link.active {
        color: #243048;
    }
}

@media (max-width: 991.98px) {   
    .myColumn2 {
        padding: 40px;
        flex: 100%;
    }
    .myColumn1 {
        visibility: hidden;
      }
    .navbar {
        padding: 15px;
        background: #ffffff !important;
    }
    
    .navbar .navbar-brand {
        color: #243048;
    }
    
    .navbar .navbar-nav {
        margin-top: 15px;
    }
    
    .navbar a.nav-link {
        padding: 5px;
    }
    
    .navbar .dropdown-menu {
        box-shadow: none;
    }
}


/*******************************/
/********** Hero CSS ***********/
/*******************************/
.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 400px;
    background: #ffffff;
}

.carousel .container-fluid {
    padding: 0;
}

.carousel .carousel-item {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel .carousel-img {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: right;
    overflow: hidden;
}

.carousel .carousel-img::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.carousel .carousel-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .carousel-text {
    position: absolute;
    max-width: 700px;
    height: calc(100vh - 35px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.carousel .carousel-text h1 {
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}

.carousel .carousel-text h1 span {
    color: #243048;
}

.carousel .carousel-text p {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    margin-bottom: 35px;
}

.carousel .carousel-btn .btn:last-child {
    margin-left: 10px;
    background: #243048;
    border-color: #243048;
}

.carousel .carousel-btn .btn:last-child:hover {
    color: #ffffff;
    background: transparent;
}

.carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@media (max-width: 991.98px) {
    .carousel,
    .carousel .carousel-item,
    .carousel .carousel-text {
        height: calc(100vh - 105px);
    }
    
    .carousel .carousel-text h1 {
        font-size: 35px;
    }
    
    .carousel .carousel-text p {
        font-size: 16px;
    }
    
    .carousel .carousel-text .btn {
        padding: 12px 30px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 767.98px) {
    .carousel,
    .carousel .carousel-item,
    .carousel .carousel-text {
        height: calc(100vh - 70px);
    }
    
    .carousel .carousel-text h1 {
        font-size: 30px;
    }
    
    .carousel .carousel-text .btn {
        padding: 10px 25px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .carousel .carousel-text h1 {
        font-size: 25px;
    }
    
    .carousel .carousel-text .btn {
        padding: 8px 20px;
        font-size: 14px;
        letter-spacing: 0;
    }
}

/*** Property List ***/
.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

.property-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    background: #F5F5F5;
}

.property-item img {
    transition: .5s;
}

.property-item:hover img {
    transform: scale(1.1);
}

.property-item .border-top {
    border-top: 1px dashed rgba(0, 185, 142, .3) !important;
}

.property-item .border-end {
    border-right: 1px dashed rgba(0, 185, 142, .3) !important;
}


/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 150px 0 90px 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/page-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header h2 {
    position: relative;
    color: #243048;
    font-size: 60px;
    font-weight: 700;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

.page-header a:hover {
    color: #ffffff;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -1px;
    right: -7px;
    text-align: center;
    color: #243048;
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 767.98px) {
    .page-header h2 {
        font-size: 35px;
    }
    
    .page-header a {
        font-size: 18px;
    }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    margin-bottom: 45px;
}

.section-header p {
    color: #243048;
    margin-bottom: 5px;
    position: relative;
    font-size: 20px;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 45px;
    font-weight: 700;
}

@media (max-width: 991.98px) {
    .section-header h2 {
        font-size: 40px;
        font-weight: 600;
    }
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 35px;
        font-weight: 600;
    }
}

@media (max-width: 575.98px) {
    .section-header h2 {
        font-size: 30px;
        font-weight: 600;
    }
}


/*******************************/
/********* Booking CSS *********/
/*******************************/
.booking {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
    background: rgba(0, 0, 0, .04);
}

.booking .booking-content {
    padding: 45px 0 15px 0;
}

.booking .booking-content .section-header {
    margin-bottom: 30px;
}

.booking .booking-form {
    padding: 60px 30px;
    background: #243048;
}

.booking .booking-form .control-group {
    margin-bottom: 15px;
}

.booking .booking-form .input-group-text {
    position: absolute;
    padding: 0;
    border: none;
    background: none;
    top: 15px;
    right: 15px;
    color: #ffffff;
    font-size: 14px;
}

.booking .booking-form .form-control {
    height: 45px;
    font-size: 14px;
    color: #ffffff;
    padding: 0 15px;
    border-radius: 5px !important;
    border: 1px solid #ffffff;
    background: transparent;
}

.booking .booking-form select.form-control {
    padding: 0 10px;
}

.booking .booking-form .form-control::placeholder {
    color: #ffffff;
    opacity: 1;
}

.booking .booking-form .form-control:-ms-input-placeholder,
.booking .booking-form .form-control::-ms-input-placeholder {
    color: #ffffff;
}

.booking .booking-form .input-group [data-toggle="datetimepicker"] {
    cursor: default;
}

.booking .booking-form .btn.custom-btn {
    width: 100%;
    color: #243048;
    background: #ffffff;
    border: 1px solid #ffffff;
}

.booking .booking-form .btn.custom-btn:hover {
    color: #ffffff;
    background: transparent;
}


/*******************************/
/********** Menu CSS ***********/
/*******************************/
.food {
    position: relative;
    width: 100%;
    padding: 90px 0 60px 0;
    margin: 45px 0;
    background: rgba(0, 0, 0, .04);
}

.food .food-item {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    padding: 50px 30px 30px;
    text-align: center;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    transition: .3s;
}

.food .food-item:hover {
    box-shadow: none;
}

.food .food-item i {
    position: relative;
    display: inline-block;
    color: #fbaf32;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
    transition: .3s;
}

.food .food-item:hover i {
    color: #fbaf32;
}

.food .food-item i::after {
    position: absolute;
    content: "";
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    top: -20px;
    left: -15px;
    border: 3px dotted #243048;
    border-right: transparent;
    border-bottom: transparent;
    border-radius: 100px;
    transition: .3s;
}

.food .food-item:hover i::after {
    border: 3px dotted #243048;
    border-right: transparent;
    border-bottom: transparent;
}

.food .food-item h2 {
    font-size: 30px;
    font-weight: 700;
}

.food .food-item a {
    position: relative;
    font-size: 16px;
}

.food .food-item a::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 1px;
    bottom: 0;
    left: calc(50% - 25px);
    background: #243048;
    transition: .3s;
}

.food .food-item a:hover::after {
    width: 100%;
    left: 0;
    background: #243048;
}



/*******************************/
/********** About CSS **********/
/*******************************/
.about {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.about .section-header {
    margin-bottom: 30px;
    margin-left: 0;
}

.about .about-img {
    position: relative;
}

.about .about-img img {
    position: relative;
    width: 100%;
    border-radius: 15px;
}

.about .btn-play {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
}

.about .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #243048;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.about .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #243048;
    border-radius: 50%;
    transition: all 200ms;
}

.about .btn-play img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.about .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #ffffff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

#videoModal {
    padding-left: 17px;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
    background: #000000;
    opacity: 1;
}

.about .about-content {
    position: relative;
}

.about .about-text p {
    font-size: 16px;
}

.about .about-text a.btn {
    position: relative;
    margin-top: 15px;
}

@media (max-width: 991.98px) {
    .about .about-img {
        margin-bottom: 30px;
    }
}


/*******************************/
/********* Feature CSS *********/
/*******************************/
.feature {
    position: relative;
    width: 100%;
    padding: 45px 0 0 0;
}

.feature .section-header {
    margin-bottom: 30px;
}

.feature .feature-text {
    position: relative;
    width: 100%;
}

.feature .feature-img {
    border-radius: 15px;
    margin-bottom: 25px;
    overflow: hidden;
}

.feature .feature-img .col-6,
.feature .feature-img .col-12 {
    padding: 0;
    overflow: hidden;
}

.feature .feature-img img {
    width: 100%;
    transition: .3s;
}

.feature .feature-img img:hover {
    transform: scale(1.1);
}

.feature .feature-text .btn {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 45px;
}

.feature .feature-item {
    width: 100%;
    margin-bottom: 45px;
}

.feature .feature-item i {
    position: relative;
    display: block;
    color: #fbaf32;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 15px;
    background-image: linear-gradient(#fbaf32, #fbaf32);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature .feature-item i::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    top: -10px;
    left: 20px;
    background: #243048;
    border-radius: 30px;
    z-index: -1;
}

.feature .feature-item h3 {
    font-size: 22px;
    font-weight: 700;
}


/*******************************/
/*********** Menu CSS **********/
/*******************************/
.menu {
    position: relative;
    padding: 45px 0 15px 0;
}

.menu .menu-tab {
    position: relative;
}

.menu .menu-tab img {
    max-width: 100%;
    border-radius: 15px;
}

.menu .menu-tab .nav.nav-pills .nav-link {
    color: #ffffff;
    background: #243048;
    border-radius: 5px;
    margin: 0 5px;
}

.menu .menu-tab .nav.nav-pills .nav-link:hover,
.menu .menu-tab .nav.nav-pills .nav-link.active {
    color: #ffffff;
    background: #243048;
}

.menu .menu-tab .tab-content {
    padding: 30px 0 0 0;
    background: transparent;
}

.menu .menu-tab .tab-content .container {
    padding: 0;
}

.menu .menu-item {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.menu .menu-img {
    width: 80px;
    margin-right: 20px;
}

.menu .menu-img img {
    width: 100%;
    border-radius: 100px;
}

.menu .menu-text {
    width: calc(100% - 100px);
}

.menu .menu-text h3 {
    position: relative;
    display: block;
    font-size: 22px;
    font-weight: 700;
}

.menu .menu-text h3::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 13px;
    left: 0;
    border-top: 2px dotted #cccccc;
    z-index: -1;
}

.menu .menu-text h3 span {
    display: inline-block;
    float: left;
    padding-right: 5px;
    background: #ffffff;
}

.menu .menu-text h3 strong {
    display: inline-block;
    float: right;
    padding-left: 5px;
    color: #243048;
    background: #ffffff;
}

.menu .menu-text p {
    position: relative;
    margin: 5px 0 0 0;
    float: left;
    display: block;
}

@media(max-width: 575.98px) {
    .menu .menu-text p,
    .menu .menu-text h3,
    .menu .menu-text h3 span,
    .menu .menu-text h3 strong {
        display: block;
        float: none;
        padding: 0;
        margin: 0;
    }
    
    .menu .menu-text h3 {
        font-size: 18px;
        margin-bottom: 0;
    }
    
    .menu .menu-text h3 span {
        margin-bottom: 3px;
    }
    
    .menu .menu-text h3::after {
        display: none;
    }
}


/*******************************/
/*********** Team CSS **********/
/*******************************/
.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.team .team-item {
    position: relative;
    margin-bottom: 30px;
    background: #ffffff;
}

.team .team-img {
    position: relative;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.team .team-img img {
    position: relative;
    width: 100%;
    margin-top: 15px;
    transform: scale(1.1);
    transition: .3s;
}

.team .team-item:hover img {
    margin-top: 0;
    margin-bottom: 15px;
}

.team .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team .team-social a {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    background: #243048;
    opacity: 0;
}

.team .team-social a:hover {
    color: #ffffff;
    background: #243048;
}

.team .team-item:hover .team-social {
    background: rgba(256, 256, 256, .5);
}

.team .team-item:hover .team-social a:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team .team-item:hover .team-social a:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.team .team-item:hover .team-social a:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .2s;
}

.team .team-item:hover .team-social a:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .3s;
}

.team .team-text {
    position: relative;
    padding: 25px 15px;
    text-align: center;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, .07);
    border-top: none;
    border-radius: 0 0 15px 15px;
}

.team .team-text h2 {
    font-size: 22px;
    font-weight: 700;
}

.team .team-text p {
    margin: 0;
    font-size: 16px;
}


/*******************************/
/******* Testimonial CSS *******/
/*******************************/
.testimonial {
    position: relative;
    width: 100%;
    padding: 90px 0;
    margin: 45px 0;
    background: rgba(0, 0, 0, .04);
}

.testimonial .testimonials-carousel {
    position: relative;
    width: calc(100% + 30px);
    margin: 0 -15px;
}

.testimonial .testimonial-item {
    position: relative;
    margin: 15px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .08);
    transition: .3s;
    overflow: hidden;
}

.testimonial .testimonial-item:hover {
    box-shadow: none;
}

.testimonial .testimonial-img {
    position: relative;
    width: 100px;
    border-radius: 100px;
    margin-bottom: 20px;
    overflow: hidden;
}

.testimonial .testimonial-img img {
    width: 100%;
    border-radius: 100px;
}

.testimonial .testimonial-item p {
    text-align: center;
    margin-bottom: 10px;
}

.testimonial .testimonial-item h2 {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2px;
}

.testimonial .testimonial-item h3 {
    color: #999999;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.testimonial .owl-dots {
    margin-top: 10px;
    text-align: center;
}

.testimonial .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #243048;
}

.testimonial .owl-dot.active {
    background: #243048;
}


/*******************************/
/*********** Blog CSS **********/
/*******************************/
.blog {
    position: relative;
    width: 100%;
    padding: 45px 0 0 0;
}

.blog .blog-item {
    position: relative;
}

.blog .blog-img {
    position: relative;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
}

.blog .blog-img img {
    width: 100%;
}

.blog .blog-content {
    position: relative;
    width: calc(100% - 60px);
    top: -60px;
    left: 30px;
    padding: 25px 30px 30px 30px;
    background: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    border-radius: 15px;
    z-index: 2;
}

.blog .blog-content h2.blog-title {
    font-size: 22px;
    font-weight: 700;
}

.blog .blog-meta {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.blog .blog-meta p {
    margin: 0 10px 0 0;
    font-size: 14px;
    color: #999999;
}

.blog .blog-meta i {
    color: #fbaf32;
    margin-right: 5px;
}

.blog .blog-meta p:last-child {
    margin: 0;
}

.blog .blog-text {
    position: relative;
}

.blog .blog-text p {
    margin-bottom: 10px;
}

.blog .blog-item a.btn {
    margin-top: 10px;
    padding: 5px 15px;
}

.blog .pagination .page-link {
    color: #243048;
    border-radius: 5px;
    border-color: #243048;
    margin: 0 2px;
}

.blog .pagination .page-link:hover,
.blog .pagination .page-item.active .page-link {
    color: #ffffff;
    background: #243048;
}

.blog .pagination .disabled .page-link {
    color: #999999;
}

@media(max-width: 575.98px){
    .blog .blog-meta p {
        flex: 50%;
        font-size: 13px;
        margin: 0 0 5px 0;
    }
}


/*******************************/
/******* Single Post CSS *******/
/*******************************/
.single {
    position: relative;
    padding: 45px 0;
}

.single .single-content {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.single .single-content img {
    margin-bottom: 20px;
    width: 100%;
}

.single .single-tags {
    margin: -5px -5px 41px -5px;
    font-size: 0;
}

.single .single-tags a {
    margin: 5px;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 400;
    color: #243048;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.single .single-tags a:hover {
    color: #ffffff;
    background: #243048;
    border-color: #243048;
}

.single .single-bio {
    margin-bottom: 45px;
    padding: 30px;
    background: rgba(0, 0, 0, .04);
    display: flex;
}

.single .single-bio-img {
    width: 100%;
    max-width: 100px;
}

.single .single-bio-img img {
    width: 100%;
    border-radius: 100px;
}

.single .single-bio-text {
    padding-left: 30px;
}

.single .single-bio-text h3 {
    font-size: 20px;
    font-weight: 700;
}

.single .single-bio-text p {
    margin: 0;
}

.single .single-related {
    margin-bottom: 45px;
}

.single .single-related h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.single .related-slider {
    position: relative;
    margin: 0 -15px;
    width: calc(100% + 30px);
}

.single .related-slider .post-item {
    margin: 0 15px;
}

.single .post-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.single .post-item .post-img {
    width: 100%;
    max-width: 80px;
}

.single .post-item .post-img img {
    width: 100%;
    border-radius: 5px;
}

.single .post-item .post-text {
    padding-left: 15px;
}

.single .post-item .post-text a {
    color: #757575;
    font-size: 17px;
}

.single .post-item .post-text a:hover {
    color: #243048;
}

.single .post-item .post-meta {
    display: flex;
    margin-top: 8px;
}

.single .post-item .post-meta p {
    display: inline-block;
    margin: 0;
    padding: 0 3px;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

.single .post-item .post-meta p a {
    margin-left: 5px;
    color: #999999;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
}

.single .related-slider .owl-nav {
    position: absolute;
    width: 90px;
    top: -55px;
    right: 15px;
    display: flex;
}

.single .related-slider .owl-nav .owl-prev,
.single .related-slider .owl-nav .owl-next {
    margin-left: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: #243048;
    font-size: 16px;
    transition: .3s;
}

.single .related-slider .owl-nav .owl-prev:hover,
.single .related-slider .owl-nav .owl-next:hover {
    color: #ffffff;
    background: #243048;
}

.single .single-comment {
    position: relative;
    margin-bottom: 45px;
}

.single .single-comment h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.single .comment-list {
    list-style: none;
    padding: 0;
}

.single .comment-child {
    list-style: none;
}

.single .comment-body {
    display: flex;
    margin-bottom: 30px;
}

.single .comment-img {
    width: 60px;
}

.single .comment-img img {
    width: 100%;
    border-radius: 100px;
}

.single .comment-text {
    padding-left: 15px;
    width: calc(100% - 60px);
}

.single .comment-text h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
}

.single .comment-text span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
}

.single .comment-text .btn {
    padding: 3px 10px;
    font-size: 14px;
    color: #454545;
    background: #dddddd;
    border-radius: 5px;
}

.single .comment-text .btn:hover {
    background: #243048;
}

.single .comment-form {
    position: relative;
}

.single .comment-form h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.single .comment-form form {
    padding: 30px;
    background: #f3f6ff;
}

.single .comment-form form .form-group:last-child {
    margin: 0;
}

.single .comment-form input,
.single .comment-form textarea {
    border-radius: 5px;
}


/**********************************/
/*********** Sidebar CSS **********/
/**********************************/
.sidebar {
    position: relative;
    width: 100%;
}

@media(max-width: 991.98px) {
    .sidebar {
        margin-top: 45px;
    }
}

.sidebar .sidebar-widget {
    position: relative;
    margin-bottom: 45px;
}

.sidebar .sidebar-widget .widget-title {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: 700;
}

.sidebar .sidebar-widget .widget-title::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #243048;
}

.sidebar .sidebar-widget .search-widget {
    position: relative;
}

.sidebar .search-widget input {
    height: 50px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.sidebar .search-widget input:focus {
    box-shadow: none;
}

.sidebar .search-widget .btn {
    position: absolute;
    top: 6px;
    right: 15px;
    height: 40px;
    padding: 0;
    font-size: 25px;
    color: #243048;
    background: none;
    border-radius: 0;
    border: none;
    transition: .3s;
}

.sidebar .search-widget .btn:hover {
    color: #243048;
}

.sidebar .sidebar-widget .recent-post {
    position: relative;
}

.sidebar .sidebar-widget .tab-post {
    position: relative;
}

.sidebar .tab-post .nav.nav-pills .nav-link {
    color: #ffffff;
    background: #243048;
    border-radius: 0;
}

.sidebar .tab-post .nav.nav-pills .nav-link:hover,
.sidebar .tab-post .nav.nav-pills .nav-link.active {
    color: #ffffff;
    background: #243048;
}

.sidebar .tab-post .tab-content {
    padding: 15px 0 0 0;
    background: transparent;
}

.sidebar .tab-post .tab-content .container {
    padding: 0;
}

.sidebar .sidebar-widget .category-widget {
    position: relative;
}

.sidebar .category-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar .category-widget ul li {
    margin: 0 0 12px 22px; 
}

.sidebar .category-widget ul li:last-child {
    margin-bottom: 0; 
}

.sidebar .category-widget ul li a {
    display: inline-block;
    line-height: 23px;
}

.sidebar .category-widget ul li::before {
    position: absolute;
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #243048;
    left: 1px;
}

.sidebar .category-widget ul li span {
    display: inline-block;
    float: right;
}

.sidebar .sidebar-widget .tag-widget {
    position: relative;
    margin: -5px -5px;
}

.single .tag-widget a {
    margin: 5px;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 400;
    color: #243048;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.single .tag-widget a:hover {
    color: #ffffff;
    background: #243048;
    border-color: #243048;
}

.sidebar .image-widget {
    display: block;
    width: 100%;
    overflow: hidden;
}

.sidebar .image-widget img {
    max-width: 100%;
    transition: .3s;
}

.sidebar .image-widget img:hover {
    transform: scale(1.1);
}


/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.contact .contact-information {
    min-height: 150px;
    margin: 0 0 30px 0;
    padding: 30px 15px 0 15px;
    background: rgba(0, 0, 0, .04);
}

.contact .contact-info {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact .contact-icon {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbaf32;
    border-radius: 50px;
}

.contact .contact-icon i {
    font-size: 18px;
    color: #ffffff;
}

.contact .contact-text {
    position: relative;
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.contact .contact-text h3 {
    font-size: 18px;
    font-weight: 700;
    color: #243048;
}

.contact .contact-text p {
    margin: 0;
    font-size: 16px;
    color: #454545;
}

.contact .contact-social a {
    margin-right: 10px;
    font-size: 18px;
    color: #fbaf32;
}

.contact .contact-social a:hover {
    color: #fbaf32;
}

.contact .contact-form iframe {
    width: 100%;
    height: 380px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.contact .contact-form input {
    padding: 15px;
    background: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.contact .contact-form textarea {
    height: 150px;
    padding: 8px 15px;
    background: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: rgba(0, 0, 0, .04);
}

.footer .footer-contact,
.footer .footer-link,
.footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
    color: #454545;
}

.footer .footer-contact h2,
.footer .footer-link h2,
.footer .footer-newsletter h2 {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    color: #243048;
}

.footer .footer-contact h2::after,
.footer .footer-link h2::after,
.footer .footer-newsletter h2::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #243048;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #454545;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: #243048;
}

.footer .footer-link a:hover {
    color: #243048;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
    color: #fbaf32;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
    display: flex;
}

.footer .footer-social a {
    display: inline-block;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #243048;
    border-radius: 35px;
    font-size: 16px;
    color: #ffffff;
}

.footer .footer-social a:hover {
    background: #fbaf32;
}

.footer .footer-social a:last-child {
    margin: 0;
}

.footer .footer-newsletter .form {
    position: relative;
    width: 100%;
}

.footer .footer-newsletter input {
    height: 60px;
    background: transparent;
    border: 1px solid #fbaf32;
    border-radius: 5px;
}

.footer .footer-newsletter .btn {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 44px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 700;
}

.footer .copyright {
    position: relative;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    background: #ffffff;
}

.footer .copyright p {
    margin: 0;
    display: inline-block;
    color: #454545;
}

.footer .copyright p a {
    color: #243048;
}

.footer .copyright p a:hover {
    color: #243048;
}

/* Media Queries */
/* Card sizing */
/* Colors */
/* Calculations */
/* Placeholders */
@media (min-width: 1000px) {
  #timeline .demo-card:nth-child(even) .head::after, #timeline .demo-card:nth-child(odd) .head::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  #timeline .demo-card:nth-child(even) .head::before, #timeline .demo-card:nth-child(odd) .head::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #bdbdbd;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 8px #f7f7f7;
  }
}
/* Some Cool Stuff */
.demo-card:nth-child(1) {
  order: 1;
}

.demo-card:nth-child(2) {
  order: 4;
}

.demo-card:nth-child(3) {
  order: 2;
}

.demo-card:nth-child(4) {
  order: 5;
}

.demo-card:nth-child(5) {
  order: 3;
}

.demo-card:nth-child(6) {
  order: 6;
}

/* Border Box */
* {
  box-sizing: border-box;
}

/* Fonts */
body {
  font-family: Roboto;
}

#timeline {
  padding: 100px 0;
  background: #f7f7f7;
  border-top: 1px solid rgba(191, 191, 191, 0.4);
  border-bottom: 1px solid rgba(191, 191, 191, 0.4);
}
#timeline h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 20px;
}
#timeline p.leader {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 45px;
}
#timeline .demo-card-wrapper {
  position: relative;
  margin: auto;
}
@media (min-width: 1000px) {
  #timeline .demo-card-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 1170px;
    height: 1650px;
    margin: 0 auto;
  }
}
#timeline .demo-card-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid rgba(191, 191, 191, 0.4);
}
@media (min-width: 1000px) {
  #timeline .demo-card-wrapper::after {
    border-left: 1px solid #bdbdbd;
  }
}
#timeline .demo-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 94%;
  z-index: 2;
}
@media (min-width: 480px) {
  #timeline .demo-card {
    max-width: 60%;
    box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
  }
}
@media (min-width: 720px) {
  #timeline .demo-card {
    max-width: 40%;
  }
}
@media (min-width: 1000px) {
  #timeline .demo-card {
    max-width: 450px;
    height: 400px;
    margin: 90px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  #timeline .demo-card:nth-child(odd) {
    margin-right: 45px;
  }
  #timeline .demo-card:nth-child(odd) .head::after {
    border-left-width: 15px;
    border-left-style: solid;
    left: 100%;
  }
  #timeline .demo-card:nth-child(odd) .head::before {
    left: 491.5px;
  }
  #timeline .demo-card:nth-child(even) {
    margin-left: 45px;
  }
  #timeline .demo-card:nth-child(even) .head::after {
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%;
  }
  #timeline .demo-card:nth-child(even) .head::before {
    right: 489.5px;
  }
  #timeline .demo-card:nth-child(2) {
    margin-top: 180px;
  }
}
#timeline .demo-card .head {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
}
#timeline .demo-card .head .number-box {
  display: inline;
  float: left;
  margin: 15px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.17);
}
#timeline .demo-card .head h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 6px;
  line-height: 1rem;
}
@media (min-width: 480px) {
  #timeline .demo-card .head h2 {
    font-size: 165%;
    line-height: 1.2rem;
  }
}
#timeline .demo-card .head h2 span {
  display: block;
  font-size: 0.6rem;
  margin: 0;
}
@media (min-width: 480px) {
  #timeline .demo-card .head h2 span {
    font-size: 0.8rem;
  }
}
#timeline .demo-card .body {
  background: #fff;
  border: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0;
  padding: 15px;
}
@media (min-width: 1000px) {
  #timeline .demo-card .body {
    height: 315px;
  }
}
#timeline .demo-card .body p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}
#timeline .demo-card .body img {
  display: block;
  width: 100%;
}
#timeline .demo-card--step1 {
  background-color: #243048;
}
#timeline .demo-card--step1 .head::after {
  border-color: #243048;
}
#timeline .demo-card--step2 {
  background-color: #243048;
}
#timeline .demo-card--step2 .head::after {
  border-color: #243048;
}
#timeline .demo-card--step3 {
  background-color: #243048;
}
#timeline .demo-card--step3 .head::after {
  border-color: #243048;
}
#timeline .demo-card--step4 {
  background-color: #243048;
}
#timeline .demo-card--step4 .head::after {
  border-color: #243048;
}
#timeline .demo-card--step5 {
  background-color: #34568B;
}
#timeline .demo-card--step5 .head::after {
  border-color: #34568B;
}

img{
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}
.area {
    background:#fff;
    display:block;
    height:475px;
    opacity:0;
    position:absolute;
    width:320px;
}
/*#wrap{background: url(powerpuff-girls.fw.jpg) no-repeat center center; background-size: cover;}*/
#wrap > div{background-size: cover !important;}
#wrap{overflow: hidden;}

#myTooltip {
    display: inline-block;
    
    width: 17%;
	height: 45%;
	background: #fff;
	position: relative;
	box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
	overflow: hidden;
    border-radius: 10px;
    margin-top: 4%;
    margin-left: -10%;
 
 
  position: absolute;
  z-index: 1;
    display: none; 
  }

 /* Create two unequal columns that floats next to each other */
 .myRow {
    display: flex;
  }
  
  .myColumn {
    padding: 40px;
    flex: 50%;
  }

  .about-border {
    float: left;
    /* display: block; */
    width: 400px;
    height: 3px;
    background: #243048;
    
    /* margin: 20px auto; */
}

a.anchor {
    display: block;
    position: relative;
    top: -63px;
    visibility: hidden;
}

 .mycol-2 {
    background-color: #F5F5F5;
}

.myText {
    color: #243048;
    font-family: Aeonik,Helvetica,sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}



/* Global Button Styles */

a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 100%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
    
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 550%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #000000;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

/* Victoria Buttons */


a.animated-button {
	border: 2px solid #243048;
}
a.animated-button:after {
	opacity: .5;
	-moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	transform: translateY(-50%) translateX(-50%) rotate(90deg);
    background: #243048 !important;
    position: absolute;
    background-size: 100% 100%;;
}
a.animated-button:hover:after {
    content: "";
	opacity: 1;
	height: 600% !important;
}

@font-face {
    font-family: 'ESL Legend';
    src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.eot);
    src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.eot#iefix) format("embedded-opentype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.woff2) format("woff2"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.woff) format("woff"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.ttf) format("truetype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.svg#eicon) format("svg");
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: 'ESL Legend';
    src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.eot);
    src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.eot#iefix) format("embedded-opentype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.woff2) format("woff2"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.woff) format("woff"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.ttf) format("truetype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.svg#eicon) format("svg");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'ESL Legend';
    src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.eot);
    src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.eot#iefix) format("embedded-opentype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.woff2) format("woff2"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.woff) format("woff"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.ttf) format("truetype"),
    url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.svg#eicon) format("svg");
    font-style: normal;
    font-weight: bold;
  }
  
  img {
    max-width: 100%;
  }
  
  .ag-format-container {
    width: 1160px;
    margin: 0 auto;
  
    position: relative;
  }
  
  .ag-timeline-block {
    padding: 80px 0;
  }
  .ag-timeline_title-box {
    padding: 0 0 30px;
  
    text-align: center;
  }
  .ag-timeline_tagline {
    font-size: 40px;
    color: rgb(84, 89, 95);
  }
  .ag-timeline_title {
    background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
    color: transparent;
  
    font-size: 80px;
  }
  
  .ag-timeline_item {
    margin: 0 0 50px;
  
    position: relative;
  }
  .ag-timeline_item:nth-child(2n) {
    text-align: right;
  }
  
  .ag-timeline {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  
    position: relative;
  }
  .ag-timeline_line {
    width: 2px;
    background-color: #00000028;
  
    position: absolute;
    top: 10px;
    left: 50%;
    bottom: 0;
  
    overflow: hidden;
  
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .ag-timeline_line-progress {
    width: 100%;
    height: 20%;
    background-color: #243048;
  }
  
  .ag-timeline-card_box {
    padding: 0 0 20px 50%;
  }
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 50% 20px 0;
  }
  .ag-timeline-card_point-box {
    display: inline-block;
    margin: 0 14px 0 -26px;
  }
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 -26px 0 14px;
  }
  .ag-timeline-card_point {
    height: 50px;
    line-height: 50px;
    width: 50px;
    border: 3px solid #243048;
    background-color: #ffffff;
  
    text-align: center;
    font-family: 'ESL Legend', sans-serif;
    font-size: 20px;
    color: #243048;
  
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
  }
  .js-ag-active .ag-timeline-card_point {
    color: #ffffff;
    background-color: #243048;
  }
  .ag-timeline-card_meta-box {
    display: inline-block;
  }
  .ag-timeline-card_meta {
    margin: 10px 0 0;
  
    font-family: 'ESL Legend', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #243048;
  }
  .ag-timeline-card_item {
    display: inline-block;
    width: 45%;
    margin: -77px 0 0;
    background-color: #ffffff;
  
    opacity: 0;
  
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    -o-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  
    -webkit-transition: -webkit-transform .5s, opacity .5s;
    -moz-transition: -moz-transform .5s, opacity .5s;
    -o-transition: -o-transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s;
  
    position: relative;
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
    /* -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%); */
  }
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    /* -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%); */
  }
  .js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
  .js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    opacity: 1;
  
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .ag-timeline-card_arrow {
    height: 18px;
    width: 18px;
    margin-top: 20px;
    background-color: #243048;
  
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
  
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    margin-left: calc(-18px / 2);
    margin-right: calc(-18px / 2);
  }
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
    margin-left: -10px;
  
    right: auto;
    left: 0;
  }
  .ag-timeline-card_img {
    width: 100%;
  }
  .ag-timeline-card_info {
    padding: 20px 30px;
  }
  .ag-timeline-card_title {
    display: none;
    margin: 10px 0 0;
  
    font-family: Aeonik,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #243048;
  }
  .ag-timeline-card_desc {
    line-height: 1.45;
  
    font-size: 16px;
    color: #243048;
  }
  
  
  @media only screen and (max-width: 979px) {
    .ag-timeline_line {
      left: 30px;
    }
  
    .ag-timeline_item:nth-child(2n) {
      text-align: left;
    }
  
    .ag-timeline-card_box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
      padding: 0 0 20px;
    }
    .ag-timeline-card_meta-box {
      display: none;
    }
    .ag-timeline-card_point-box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
      margin: 0 0 0 8px;
    }
    .ag-timeline-card_point {
      height: 40px;
      line-height: 40px;
      width: 40px;
    }
    .ag-timeline-card_item {
      width: auto;
      margin: -65px 0 0 75px
    }
    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
      -webkit-transform: translateX(200%);
      -moz-transform: translateX(200%);
      -ms-transform: translateX(200%);
      -o-transform: translateX(200%);
      transform: translateX(200%);
    }
    .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
      right: auto;
      left: 0;
    }
    .ag-timeline-card_title {
      display: block;
    }
    .ag-timeline-card_arrow {
      margin-top: 12px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
    .ag-timeline-card_img {
      height: auto;
      width: auto;
    }
  }
  
  @media only screen and (max-width: 639px) {
    .ag-timeline_title {
      font-size: 60px;
    }
  
    .ag-timeline-card_info {
      padding: 10px 15px;
    }
    .ag-timeline-card_desc {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 479px) {
  
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
      width: 750px;
    }
  
  }
  
  @media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
      width: 960px;
    }
  
  }

  .mycontainer {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }

  /* section { height: 100vh; } */

  .tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
  }

  .tag.visible {
    opacity: 1;
    transform: translate(0, 0);
  }
  
  * {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	/* transition: 0.2s; */
}

/* body {
	background: linear-gradient(to right, #000, #eef2f3);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
	letter-spacing: .03em;
} */

a {
	text-decoration: none;
}

i {
	letter-spacing: 0;
}

/* .scroll {
	overflow: scroll !important;
} */

.item {
	 /* width: 300px;
	height: 400px;
	background: #fff;
	position: relative;
	box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	border-radius: 10px; */
}

.item .img {
	width: 100%;
	height: 50%;
	background: black;
	border-radius: 10px 10px 0 0;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}

.item .img-content {
	width: 100%;
	height: 100%;
	transition: 0 !important;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}

.item.showfull .text-container {
	height: 90%;
}

.item.showfull .content {
	height: 90%;
}

.item.showfull .social {
	top: 25px;
}

.item.showfull .img-content {
	transform: scale(1.04);
	filter: blur(5px);
}

.item.showfull .like {
	margin-top: 10px;
}

.item .text-container {
	width: 100%;
	height: 55%;
	background: #fff;
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	z-index: 1;
	box-shadow: -3px -10px 10px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	padding: 30px 20px 20px 20px;
	display: flex;
	flex-direction: column;
}

.item .content {
	height: 100%;
	margin-bottom: 2px;
	overflow: hidden;
}

.item .social {
	width: 100%;
	height: 50px;
	position: absolute;
	z-index: 15;
	top: 40%;
	display: flex;
	justify-content: flex-end;
}

.item h2 {
	margin-bottom: 10px;
	margin-top: 10px;
}

.item .social div {
	width: 50px;
	height: 50px;
	background: rgb(128, 0, 0);
	margin: 0 5px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.item .social div:hover {
	transform: scale(1.1);
}

.item .social a:last-child {
	margin-right: 20px;
}

.item a .tw {
	background-color: #0084b4;
}

.item a .fb {
	background-color: #3b5998;
}

.item a .ig {
	background-color: #cd486b;
}

.item .like {
	position: absolute;
	width: 30px;
	height: 30px;
	background: #a37f7f;
	border-radius: 50%;
	color: #fff;
	right: 30px;
	top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.item .like:hover {
	transform: scale(1.1);
}

.item .like i {
	font-size: 15px;
}

.item .like.clicked {
	background: #ffcece;
}

.item .like.clicked i {
	color: #e60026;
}

.item .readmore {
	display: flex;
	padding-bottom: 5px;
}

.item .readmore h3 {
	display: block;
	padding: 10px 15px;
	border-radius: 40px;
	border: 1px solid;
	cursor: pointer;
	font-size: 10px;
	margin-bottom: 5px;
}